.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
    overflow: hidden; /* Добавлено свойство overflow: hidden; */
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Добавлено свойство object-fit: cover; */
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}
