.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
    margin: 10px;
    box-sizing: border-box; /* Добавлено свойство box-sizing для учета границы в общей ширине и высоте */
}

.img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
    overflow: hidden;
    border-bottom: 1px solid var(--tg-theme-button-color);
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    font-size: 0.8em;
    margin-top: 10px;
}

.price {
    margin-top: 5px;
}

.sizes {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; /* Добавлено свойство flex-wrap для переноса кнопок на новую строку при необходимости */
}


.add-btn {
    width: 100%;
    margin-top: 10px;
}
.sizes button {
    font-size: 9px; /* Измените размер шрифта по вашему усмотрению */
    margin: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.sizes button.selected {
    background-color: lightgreen;
    border-color: green;
}